
/*-----HEADER------*/
.container-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    border-top: 1px solid var(--magenta);
    border-bottom: 1px solid var(--magenta);


}

.son-title1 {
    width: 65%;
    /* background: var(--magenta); */
    background: linear-gradient(rgba(234, 234, 234, 0.7), rgba(234, 171, 172, 0.70)), url(../assets/img/finance/header.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-spam {
    background: none;
}

.title-spam p {
    background: none;
    color: rgba(0, 0, 0, 0.70);
    font-size: 50px;


}

.title-spam1 {
    background: none;
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* border: 1px solid rgba(74, 6, 6,0.5); */
    padding: 0.5rem;
    align-items: center;


}

.title-spam1 p {
    background: none;
    color: rgba(0, 0, 0, 0.80);
    padding: 1rem;

    text-align: center;
}

.button-spam:hover {
    background-color: aqua;
    transition: 2s;
}

.button-spam {

    width: 30%;
    font-weight: bold;
    font-size: 14px;
    padding: 10px;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba(252, 92, 94, 0.7);

}

.son-title {
    height: 200px;
    width: 35%;
    border: 1px;
    position: relative;
}

.title {
    font-size: 150px;
    position: absolute;
    right: 15%;
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    left: 35%; */

}

.title1 {
    position: relative;
    top: 45%;

    margin-right: 100px;

    width: 100%;
}

.title1 p {
    /* left: 40%; */
    left: 35%;
    position: relative;
    letter-spacing: 6px;
    display: inline-block;


}

.title2 {

    position: absolute;
    top: 75%;
    /* left: 40%; */
    left: 35%;
    background: none;
}

.nav-header {
    /* background-color: rgba(238, 240, 246, 0.982); */
    border-top: 1px rgb(225, 214, 214) solid;
    border-bottom: 1px rgb(225, 214, 214) solid;
    margin: 20px;
}

.nav-header .nav-ul-header {
    margin: 0;
    padding: 0;
}

.nav-header .nav-ul-header .nav-ul-li-header {
    display: inline-block;

}

.nav-header .nav-ul-header .nav-ul-li-header a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 9px 100.5px;
    display: block;
    transition: all 0.5s ease;
    font-size: medium;

}

.nav-header .nav-ul-header .nav-ul-li-header a:hover {
    /* background-color: rgb(218, 213, 231); */
    color: var(--magenta);
    border-right: 3px solid var(--magenta);
    border-left: 3px solid var(--magenta);
    border-radius: 15px;
}

/*----------DOLAR---------*/

/* .quotes {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 15px;
}

.quotes-type {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes-type:hover {
    color: var(--magenta);
    border-right: 3px solid var(--magenta);
    border-left: 3px solid var(--magenta);
    border-radius: 15px;
    padding: 0 30px;
    transition: all 0.5s ease;
}


.quotes-title {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: large;



}

.quotes-number {
    /* border-right: 3px solid var(--magenta);
    padding: 0 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 20px;
} */
/*-----MAIN------*/



.articles-container {
    display: grid;
    gap: 10px;
    margin: 20px;
    grid-template-areas:

        "article1 article1 aside"
        "article2 article3 aside"
        "article4 article5 aside"
        "article6 article7 aside"
    ;
}

.article1 {
    grid-area: article1;
}

.article2 {
    grid-area: article2;
}

.article3 {
    grid-area: article3;
}

.article4 {
    grid-area: article4;
}

.article5 {
    grid-area: article5;
}

.article6 {
    grid-area: article6;
}

.article7 {
    grid-area: article7;
}

aside {
    grid-area: aside;
}

article {
    /* border: 1px solid; */
    height: 100%;
    width: 100%;
}




/*IMAGES*/

img {
    object-fit: cover;
    /* border: 2px solid; */
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    margin-top: 30px;




}

.img1 {
    width: 100%;
    height: 400px;

}






/*TITLES*/


h2 {
    /* border: 1px solid; */
    width: 500px;
    height: 25px;

}

h3 {
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    color: var(--grey);
    display: -webkit-box;
    font-size: 1rem;
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*ARTICULOS*/

.article2,
.article3,
.article4,
.article5,
.article6,
.article7 {
    border-top: 2px solid var(--magenta);
}

.article2:hover,.article3:hover,.article4:hover,.article5:hover,.article6:hover,.article7:hover{
    width: 90%;
    height: 270px;
    transition: 0.5s ease;
    object-fit: cover;

}



/*ASIDE*/

aside {
    display: flex;
    flex-direction: column;
    align-items: center;



}

main p{
    margin: 0;
    color: var(--magenta);
    font-weight: bold;
}
.spam-university {
    border-radius: 10px;
    width: 80%;
    /* background-color: linear-gradient(15deg, #13547a 0%, #80d0c7 100%,0); */
    background: linear-gradient(rgba(234, 234, 234, 0.7), rgba(234, 171, 172, 0.70)), url(../assets/img/finance/universidad.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;
}

.list-university {

    background: none;

}

.list-university p {
    font-weight: bold;
    font-size: medium;
    background: none;
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    padding: 10px;



}

.spam-university h3 {
    background: none;
    text-align: center;
    margin: 0;

}
.spam-market img {
    height: 500px;

}