*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'calibri';
    /* background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%); */
    background: linear-gradient(rgba(234, 234, 234, 0.7),rgba(234, 171, 172, 0.70))
    ,url(../assets/img/finance/universidad.jpg);
    background-size: cover;
    height: 715px;
    display: flex;
    justify-content: center; /*es para centrarlo horizontal*/
    align-items: center; /*es para centrarlo vertical debe tener un height definido*/

}

h1{
    text-align: center;
    font-weight: 700px;
}

form{
    background: #fff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.form{
    width: 100%;
    margin: auto;
}

form .data{
    position: relative;
    margin: 45px ;
}

input{
    background: none;
    color: rgb(209, 202, 202);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(21, 20, 20);
}

input:focus{
    outline: none;
    color: rgb(94, 93, 93);

}


label{
    font-size: 16px;
    position: absolute;
    top: 10px;
    left: 5px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label {
    top: -14px; /*sirve para que se valla 4px arriba de label*/
    font-size: 18px;/*lo achico*/
    color: rgb(165, 2, 2);
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height: 2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    transition: 0.3s ease width;
    left: 0;
}


input:focus~.barra::before{
    width: 100%;

}


button{
    font-family: 'calibri';
    background-image: linear-gradient(45deg, #874da2 0%, #c43a30 100%);
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    color: #fff;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
}

.return{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.return a{
    text-decoration: none;
    color:rgb(201, 0, 0);
}


@media screen and (max-width: 600px) {
    .form{
        width:80%;
    }

}

.warning{
    width: 200px;
    text-align: center;
    margin: auto;
    color: rgb(165, 2, 2);
    padding-top: 20px;

}

