/* - - - - - F O N T S - A N D - V A R S - - - - - */
:root{
	--grey: #565656;
	--magenta: #cc1e44;
}
@font-face{
	font-family: news;
	src: url("../assets/fonts/chomsky.otf");
}
@font-face{
	font-family: letters;
	src: url("../assets/fonts/italiana.ttf");
}
/* - - - - END - F O N T S - A N D - V A R S - END - - - - - */

/* - - - - - G E N E R A L - - - - - */
body{
	margin: auto;
	width: 95%;
	max-width: 960px;
}
main{
	margin: auto;
}
nav{
	text-align: center;
}
a{
	color: inherit;
	text-decoration: none;
}
/* - - - - END - G E N E R A L - END - - - - */

/* - - - - - H E A D E R - - - - - */
header{
	color: black;
	height: 25%;
	overflow: hidden;
	position: relative;
	margin-bottom: 20px;
}
h1{
	color: var(--magenta);
	margin: auto;
	font-family: news;
	font-size: 5rem;
	text-align: center;
}
/* - - - - END - H E A D E R - END - - - - */

/* - - - - - M A I N - - - - - */
.shortnews{
	font-size: 1.2rem;
}
.shortnews p{
	border-top: 2px solid var(--magenta);
	color: var(--magenta);
	display: inline-block;
	font-weight: bold;
	width: auto;
}
.shortnews h3{
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: var(--grey);
	display: -webkit-box;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shortnews img{
	height: 220px;
	margin: 15px 0;
	overflow: hidden;
	width: 100%;
}
.popularnews{
	border-top: 2px solid var(--magenta);
	margin: 0 auto 2rem;
}
.popularnews p{
	border-top: none;
}
.popularnews img{
	height: auto;
}
/* - - - - END - M A I N - END - - - - */