/* - - - - - F O N T S - A N D - V A R S - - - - - */
:root{
	--grey: #565656;
	--magenta: #cc1e44;
}
@font-face{
	font-family: news;
	src: url("../assets/fonts/chomsky.otf");
}
@font-face{
	font-family: letters;
	src: url("../assets/fonts/italiana.ttf");
}
@font-face{
	font-family: news1;
	src: url("../assets/fonts/ChakraPetch-Bold.ttf");
}
@font-face {
	font-family: AlfaSalb;
	src: url("../assets/fonts/AlfaSlabOne-Regular.ttf");
}
/* - - - - END - F O N T S - A N D - V A R S - END - - - - - */

/* - - - - - G E N E R A L - - - - - */
body{
	margin: auto;
}
nav{
	text-align: center;
}
a{
	color: inherit;
	text-decoration: none;
}
/* - - - - END - G E N E R A L - END - - - - */

/* - - - - - H E A D E R - - - - - */
header{
	color: black;
	position: relative;
}
h1{
	color: var(--magenta);
	margin: auto;
	font-family: AlfaSalb;
	font-size: 3rem;
	text-align: center;
}
header nav a{
	border-right: 3px solid var(--magenta);
	font-size: 1.25rem;
}
header nav a:last-child{
	border-right: none;
}
/* - - - - END - H E A D E R - END - - - - */

/* - - - - - M A I N - - - - - */
.shortnews p{
	border-top: 2px solid var(--magenta);
	color: var(--magenta);
	display: inline-block;
	font-weight: bold;
	width: auto;
}
.shortnews h2{
	font-size: 2rem;
}
.shortnews div{
	overflow: hidden;
}
.shortnews h3{
	-moz-box-orient: vertical;
	-ms-box-orient: vertical;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	color: var(--grey);
	display: -webkit-box;
	font-size: 1rem;
	font-weight: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}
.shortnews img{
	width: 100%;
}
.popularnews{
	border-top: 2px solid var(--magenta);
	margin: 0 auto 2rem;
}
.popularnews p{
	border-top: none;
}
.popularnews img{
	height: auto;
}
/* - - - - END - M A I N - END - - - - */

/* - - - - - A S I D E - - - - - */

/* - - - - END - A S I D E - END - - - - */

/* - - - - - F O O T E R - - - - - */
footer p{
	font-size: 1.5rem;
	text-align: center;
}
/* - - - - END - F O O T E R - END - - - - */
