@media screen and (max-width: 600px){
	/* - - - - - G R I D - - - - - */
	.mainnews{
		grid-template-columns: auto;
		grid-template-rows: repeat(auto-fill, auto);
	}
	/* - - - - END - G R I D - END - - - - */
	h1{
		font-size: 3rem;
	}
	.shortnews{
		font-size: 1rem;
	}
	.shortnews h3{
		font-size: 1rem;
	}
}
@media screen and (max-width: 400px){
	.infotable tr:nth-child(1) th:nth-child(n+2){
		display: none;
	}
	.infotable tr td:nth-child(n+2){
		display: none;
	}
}