/*  *{
    border: 0.5px solid;
}  */

main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
}

main > div{
    background-color: rgba(255, 255, 255, 0.783);
    /* border: 1px solid black; */
    margin: 10px 5px;
    padding: 1em;
}

.sports-bar a, .sports-bar img{
    width: 50px;
    height: 50px;
}

.section-tittle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: left;
    grid-column: 1 / 4
}
