

main{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
    margin-top: 4rem;
}

.sports-bar a, .sports-bar img{
    width: 2.8rem;
    height: 2.8rem;
}

.section-tittle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-align: left;
    grid-column: 1 / 4
}

.sports-bar{
    display: grid;
    grid-template-columns: repeat(5, 1fr );
    justify-items: center;
}


.news-section > div{
    display: grid;
    grid-template: repeat(3,auto);
    gap: 2rem;
}