/* - - - - - F O N T S - A N D - V A R S - - - - - */
:root{
	--grey: #565656;
	--magenta: #cc1e44;
}
@font-face {
    font-family: AlfaSalb;
    src: url("../assets/fonts/AlfaSlabOne-Regular.ttf");
}
/* - - - - END - F O N T S - A N D - V A R S - END - - - - - */


/* - - - - - G E N E R A L - - - - - */
main{
    gap: 0.5rem;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* - - - - END - G E N E R A L - END - - - - */

/* - - - - - M A I N - - - - - */
main h2{
    grid-column: 1 / 7;
    font-size: 2rem;
}
.principal-new-container{
    grid-column: 2 / 7;
    display: grid;
/*     box-shadow: 0px 0px 5px #565656; */
}
.principal-new{
    position: relative;
}
.principal-new img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.principal-new h3{
    font-size: 3rem;
    bottom:1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.8rem 0.8rem;
    position: absolute;
    background: #00000071;
    color: rgba(255, 255, 255, 0.9);
}
/* .news{
    box-shadow: 0px 0px 2px #565656;
} */
.news h3{
    font-size: 1.5rem;
    padding: 0.5rem;
    max-height: 4em;
    overflow: hidden;
}
.news h4{
    font-size: 1rem;
    padding: 0.5rem;
    height: 5.2em;
    overflow: hidden;
}
.news p{
    bottom: 0;
    font-size: 0.8rem;
    color: #cc1e44;
    padding: 0.5rem;
}
.news-image{
    width: 100%;
    height: 220px;
    object-fit: cover;
}
.news-container{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
}
.line{
    box-sizing: border-box;
    width: 80%;
    border: 1px solid #cc1e44;
}
.news-by-sport{
    grid-column: 1/7;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 0.5rem;
}
.section-tittle{
    grid-column: 1/7;
    font-size: 2.5rem;
    text-align: left;
}
.news-by-sport img{
    height: 150px;
}
/* - - - - END - M A I N - END - - - - */

/* - - - - - A S I D E - - - - - */
aside{
    margin-left: 1rem;
    text-align: center; 
}
.match-results-container{
    display: grid;
    grid-template-columns: 35% 30% 35%;
    margin: 1rem  auto;
    width: 70%;
    height: 60px;
    box-shadow: 0 0 2px;
}
.team{
    padding: 5px;
    height: 60px;
    font-size: 0.9rem;
}
.team-logo{
    height: 65%;
}
.match-results{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;    
}
/* - - - - END - A S I D E - END - - - - */