/* - - - - - F O N T S - A N D - V A R S - - - - - */
:root{
	--sky: rgb(141, 172, 252);
}
/* - - - - END - F O N T S - A N D - V A R S - END - - - - - */

/* - - - - - H E A D E R - - - - - */
header{
	background-color: var(--sky);
}
header nav{
	z-index: 10;
}
.skyicon{
	height: 50px;
	left: 80%;
	position: absolute;
	top: 10%;
	width: 50px;
}
.waves{
	background-color: transparent;
	height: 100%;
	position: absolute;
	width: 100%;
}
.waves path{
	fill: rgba(240, 240, 240, 0.5);
}
/* - - - - END - H E A D E R - END - - - - */

/* - - - - - M A I N - - - - - */
main table{
	margin: auto;
	text-align: center;
	width: 100%;
}
main td img{
	height: 50px;
	width: 50px;
}
.infocell{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1em minmax(min-content, max-content);
	grid-template-rows: auto repeat(3, 1em);
	justify-content: center;
	justify-items: left;
	margin-top: 10px;
}
.infocell img{
	height: auto;
	width: auto;
}
/* - - - - END - M A I N - END - - - - */

/* - - - - - A S I D E - - - - - */
aside{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color: #110e3c;
	color: white;
	grid-template-areas: "day"
						 "icon"
						 "temp";
	grid-gap: 20px 20px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	justify-items: center;
}
aside h2{
	/*justify-self: center;*/
	align-self: center;
	grid-area: day;
}
aside img{
	grid-area: icon;
	height: 100px;
	/*justify-self: right;*/
	align-self: center;
}
aside #temp{
	grid-area: temp;
	font-size: 5em;
	/*justify-self: left;*/
	line-height: 1ex;
	align-self: center;
}
aside p>span{
	vertical-align: text-top;
	font-size: 1rem;
}
/* - - - - E N D - A S I D E - E N D - - - - */

/* - - - - - F O O T E R - - - - - */
footer{
	text-align: center;
}
/* - - - - E N D - F O O T E R - E N D - - - - */

/* - - - - - A N I M A T I O N S - - - - - */
.sun{
	animation-duration: 180s;
	animation-iteration-count: infinite;
	animation-name: sunrotate;
	animation-timing-function: linear;
}
@keyframes sunrotate{
	100%{
		transform: rotate(360deg);
	}
}
/* - - - - E N D - A N I M A T I O N S - E N D - - - - */