/* - - - - - F O N T S - A N D - V A R S - - - - - */
:root{
	--sky: rgb(141, 172, 252);
}
@font-face{
	font-family: clock;
	src: url("../assets/fonts/clock.ttf");
}
/* - - - - END - F O N T S - A N D - V A R S - END - - - - - */

/* - - - - - H E A D E R - - - - - */

/* - - - - END - H E A D E R - END - - - - */

/* - - - - - M A I N - - - - - */
main{
	display: initial;
}
main table{
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100%;
	table-layout: fixed;
}
main td img{
	height: 50px;
	width: 50px;
}
main table, main table tr{
	border-collapse: collapse;
}
main table th, main table td{
	background-color: #f3e4b7;
}
/* The next block is the hour column */
main table tr td:first-child{
	font-family: clock;
	font-size: 1.5em;
	letter-spacing: 4px;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}
/* The next two blocks are border-radius for the weather table */
main table tr:first-child th:first-child{
	border-top-left-radius: 25px;
	width: 2rem;
	border-right: none;
}
main table tr:last-child td:first-child{
	border-top-right-radius: 25px;
}
.infocell{
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1rem minmax(min-content, max-content);
	grid-template-rows: auto repeat(3, 1rem);
	justify-content: center;
	justify-items: left;
	margin-top: 10px;
}
.infocell img{
	height: auto;
	width: auto;
}
/* - - - - END - M A I N - END - - - - */

/* - - - - - A S I D E - - - - - */
aside{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	background-color: #110e3c;
	color: white;
	grid-template-areas: "day"
						 "icon"
						 "temp";
	grid-gap: 20px 20px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	justify-items: center;
}
aside h2{
	align-self: center;
	grid-area: day;
}
aside img{
	grid-area: icon;
	height: 100px;
	align-self: center;
}
aside #temp{
	grid-area: temp;
	font-size: 5em;
	line-height: 1ex;
	align-self: center;
}
aside p>span{
	vertical-align: text-top;
	font-size: 1rem;
}
/* - - - - E N D - A S I D E - E N D - - - - */

/* - - - - - F O O T E R - - - - - */
footer{
	text-align: center;
}
/* - - - - E N D - F O O T E R - E N D - - - - */

/* - - - - - A N I M A T I O N S - - - - - */
.sun{
	animation-duration: 180s;
	animation-iteration-count: infinite;
	animation-name: sunrotate;
	animation-timing-function: linear;
}
@keyframes sunrotate{
	100%{
		transform: rotate(360deg);
	}
}
/* - - - - E N D - A N I M A T I O N S - E N D - - - - */

/* - - - - - R E S P O N S I V E - - - - - */
@media screen and (max-width: 600px){
	main table tr:first-child th:nth-child(n+5),
	main table tr td:nth-child(n+5){
		display: none;
	}
}
@media screen and (max-width: 400px){
	main table tr:first-child th:nth-child(n+3),
	main table tr td:nth-child(n+3){
		display: none;
	}
}
/* - - - - E N D - R E S P O N S I V E - E N D - - - - */